/* 
  =====================
  VARIÁVEIS (VARIABLES)
  =====================
 */
 
:root {  
  --primary-color: #1B1A1D;
  --secundary-color: #323036;
  --tertiary-color: #FFF;
  --quaternery-color: #1B1A1D;
  --quinary-color: #323036;
  --senary-color: #FFF;
  --septenary-color: #1B1A1D;
  --bg-body-color: #E5E5E5;
  --bg-navbar-color: #FFF;
  --primary-shadow: 0 0.125rem 0.313rem 0 rgba(0,0,0,0.2);
  --secundary-shadow: 0.063rem 0.063rem 0.313rem 0.063rem rgba(0, 0, 0, .15);
  --tertiary-shadow: 0.375rem 0.375rem 0.625rem -0.063rem rgba(255, 255, 255, .15),
                      -0.375rem -0.375rem 0.625rem -0.063rem rgba(0, 0, 0, .15);
  --error-color: #C74243;
  --switch-bg-url: url("../../img/sun.svg");
  --angle-icon-url: url("../../img/angle-down.svg");
  --brazil-flag-url: url("../../img/brazil-flag.png");
  --eua-flag-url: url("../../img/eua-flag.png");
}

.dark,
:root:has(#dark:checked) {
  --primary-color: #FFF;
  --secundary-color: #E5E5E5;
  --tertiary-color: #F5F5F5;
  --quaternery-color: #1B1A1D;
  --quinary-color: #323036;
  --senary-color: rgba(74, 71, 79, .5);
  --septenary-color: #E5E5E5;
  --bg-body-color: #1B1A1D;
  --bg-navbar-color: #323036;
  --primary-shadow: 0 0.125rem 0.313rem 0 rgba(255,255,255,0.2);
  --tertiary-shadow: 0.375rem 0.375rem 0.625rem -0.063rem rgba(0, 0, 0, .15),
                      -0.375rem -0.375rem 0.625rem -0.063rem rgba(255, 255, 255, .15);
  --angle-icon-url: url("../../img/angle-down-light.svg");
  --switch-bg-url: url("../../img/moon.svg");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-body-color);
  transition: .3s ease-in-out;
  overflow-x: hidden;
}

.skin-color {
  color: var(--skin-color);
}
